.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.title {
  font-family: var(--font-family-ko-pretendard-variable);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--gray-b);
  margin: 0;
}

.tabGroup {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tabGroupDark {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: var(--gray-800);
  padding: 10px;
  border-radius: 8px;
}

.tabGroupPrimary {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: var(--gray-50);
  padding: 10px;
  border-radius: 8px;
}
